node_modules
.idea
.tscache
bower_components
*.js
*.js.map
*.orig
*.d.ts
*.swp
!gruntfile.js
!main.js
!config.js
!**/typings/**/*.d.ts
!**/.tscache/**/*
testTemp
tscommand*
out/
out.zip
tsfmt.json
*.suo
~*
*.DotSettings.user
*.user
cs-vs.sublime-workspace
*.webinfo
WebEssentials-Settings.json
_ReSharper.cs-vs
tsconfig.json
_ReSharperPlatformVs121.cs-vs
*.sst
log.txt