<div class="modal-header">
    <h3 class="modal-title">Feature Generation</h3>
</div>
<div class="modal-body">
    <tabset>
        <tab heading="Configuration">
            <form  style="margin-top:5px;" class="form-horizontal">
                <div class="form-group">
                    <label for="story" class="col-sm-2 control-label">Story No:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="formFields.storyNo" class="form-control" id="story" placeholder="XXXXX">
                    </div>
                </div>
                <div class="form-group">
                    <label for="feature" class="col-sm-2 control-label">Feature:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="formFields.feature" class="form-control" id="feature" placeholder="Stuff shouldn't break when this happens..">
                    </div>
                </div>

                <div class="form-group">
                    <label for="running-server" class="col-sm-2 control-label">Data Path:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="formFields.dataPath" class="form-control" id="running-server" placeholder="../where/the/data/is">
                    </div>
                </div>

                <div class="form-group">
                    <label for="alias-path" class="col-sm-2 control-label">Alias Path:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="formFields.aliasPath" class="form-control" id="alias-path" placeholder="../where/the/aliases/are">
                    </div>
                </div>

                <div class="form-group">
                    <label for="scenario" class="col-sm-2 control-label">Request Scenario:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="formFields.scenario" class="form-control" id="scenario" placeholder="Any desktops which have a colour but no data package get a separate validation error">
                    </div>
                </div>

                <div class="form-group">
                    <label for="request-path" class="col-sm-2 control-label">Request Path:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="formFields.requestPath" class="form-control" id="request-path" placeholder="../where/the/request/is">
                    </div>
                </div>
            </form>
        </tab>

        <tab ng-click="events.generateFeatureString()" heading="Preview">
            <div >
                <pre style="overflow:auto;max-height:400px;margin-top:5px;word-wrap: normal;font-size:10px;">{{featureString}}</pre>
            </div>

        </tab>
    </tabset>


</div>

<div class="modal-footer">
    <button class="btn btn-info" type="button" ng-click="events.generateFeatureString()">Download</button>
    <button class="btn btn-primary" type="button" ng-click="events.close()">Save</button>
</div>